<nav class="navbar navbar-inverse zero-border-radius navbar-fixed-top margin-btm-lg">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">gt health</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a>Logout</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active"><a ui-sref="home.about">Settings</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="col-md-12">
    <div class="col-md-6 col-md-offset-3 first-child-padding">
        <feed-post-card ng-repeat="post in Main.posts" post="post">
        </feed-post-card>
    </div>
</div>